* {
  margin: 0;
  padding: 0;
}

table {
  width: 80%;
  border: 1px solid black;
  border-collapse: collapse;
  margin: 3rem auto;
  text-align: center;
}

th, td {
  border: 1px solid black;
  padding: 0.75rem;
}

tr:nth-child(even) {
  background-color: #DDDDDD;
}

caption{
  border: 1px solid black;
}

form {
  width: fit-content;
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  gap: 3rem;
}